div(layout="row",ng-class="form.htmlClass")
    sm-date-time-picker(
        fname="{{::form.key|sfCamelKey}}",
        label="{{::form.title}}",
        sf-field-model,
        sf-changed="form",
        schema-validate="form",
        flex,
        ng-disabled="false",
        format="{{form.dtOptions.format || 'YYYY/MM/DD'}}",
        mode="{{form.dtOptions.mode || ''}}",
        week-start-day="Monday")
    md-input-container(aria-label="{{::form.title}}",md-is-error="ngModel.$error && ngModel.$invalid",class=" md-block")
        div(ng-messages="ngModel.$error",aria-live="assertive",md-auto-hide="false")
            div(sf-message,ng-message)
        div.md-char-counter {{ form.description }}