md-input-container(class="schema-form-autocomplete {{form.htmlClass}}",sf-field,md-is-error="ngModel.$error && ngModel.$invalid && ngModel.$dirty",ng-class="{'md-input-has-value':acBoost.searchText}")
    md-autocomplete(
        class="fx-autocomplete",
        ng-disabled="form.readonly",
        md-no-cache="form.acOptions.noCache",
        md-autoselect="true",
        md-delay="form.acOptions.delay",
        md-select-on-match="true",
        md-selected-item="acBoost.selected",
        md-is-error="ngModel.$invalid && ngModel.$dirty",
        md-search-text="acBoost.searchText",
        md-selected-item-change="acBoost.onChange(item)",
        md-search-text-change="acBoost.onTextChange()",
        md-items="item in acBoost.query()",
        md-item-text="acBoost.getItemText(item)",
        md-min-length="form.acOptions.minLength",
        md-floating-label="{{ form.title }}",
        placeholder="{{ form.placeholder }}",
        md-select-on-focus="true",
        md-menu-class="autocomplete-custom-template"
    )
        md-item-template
            div
                span(ng-if="!form.muti",md-highlight-text="acBoost.searchText") {{ item[form.acOptions.textField] }}
                span(ng-if="form.muti",md-highlight-text="acBoost.searchText",ng-repeat="key in form.muti") {{ !$first ? (form.acOptions.prefix || '-'):'' }} {{item[form.acOptions.textField] }}
        md-not-found(flex)
            div
                span(flex) 没有匹配{{ acBoost.searchText}}的记录
        
    div(ng-messages="ngModel.$error",class="no-errors",aria-live="assertive",style="margin-top:-45px;margin-bottom: 24px;")
        md-contact-ships.ng-hide(ng-model="$$value$$",fx-autocomplete-boost,sf-field-model,fx-changed="form",sf-changed="form",schema-validate="form",name="{{::form.key|sfCamelKey}}")
        div(sf-message,ng-message,ng-class="{'fx-invalid':ngModel.$invalid && ngModel.$dirty}")
    div.hint.md-char-counter(ng-if="form.showHints",ng-bind="form.description")